DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/mfa-demo"
JWT_SECRET="replace-with-random-32-char-string"
JWT_MFA_PENDING_SECRET="replace-with-different-random-32-char-string"
ENCRYPTION_KEY="replace-with-64-hex-chars"
APP_NAME="MFADemo"
PORT=3001
SWAGGER_PASSWORD=admin
